services:

  db:
    image: postgres:15.1
    container_name: db-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    container_name: redis-test
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data

volumes:
  redis-data:
#
#  mysql:
#    image: mysql:8.0.27
#    container_name: db-mysql
#    restart: always
#    environment:
#      MYSQL_ROOT_PASSWORD: root
#      MYSQL_DATABASE: mysql
#    ports:
#      - 3306:3306
#    network_mode: host
